In [2]:
import pandas as pd

In [21]:
data = [{'name': 'Somu',
    'physics': 68,
    'chemistry': 84,
    'algebra': 78}]


#create dataframe
df_marks = pd.DataFrame(data)
print('Original DataFrame\n------------------')
print(df_marks)

Original DataFrame
------------------
   name  physics  chemistry  algebra
0  Somu       68         84       78

In [5]:
data

[{'name': 'Somu', 'physics': 68, 'chemistry': 84, 'algebra': 78}]

In [6]:
type(data)

list

In [8]:
new_row = {'name':'Geo', 'physics':87, 'chemistry':92, 'algebra':97}
type(new_row)

dict

In [9]:
type([new_row])

list

In [22]:
data.append(new_row)
data

[{'name': 'Somu', 'physics': 68, 'chemistry': 84, 'algebra': 78},
 {'name': 'Geo', 'physics': 87, 'chemistry': 92, 'algebra': 97}]

In [23]:
pd.DataFrame(data)

   name  physics  chemistry  algebra
0  Somu       68         84       78
1   Geo       87         92       97

In [24]:
#transpose the data table
pd.DataFrame(data).T

              0    1
name       Somu  Geo
physics      68   87
chemistry    84   92
algebra      78   97

In [20]:
data2 = [{'name': ['Somu', 'Kiku', 'Amol', 'Lini'],
    'physics': [68, 74, 77, 78],
    'chemistry': [84, 56, 73, 69],
    'algebra': [78, 88, 82, 87]}]
data2.append(new_row)
pd.DataFrame(data2)

,name,physics,chemistry,algebra
0,"[Somu, Kiku, Amol, Lini]","[68, 74, 77, 78]","[84, 56, 73, 69]","[78, 88, 82, 87]"
1,Geo,87,92,97

In [27]:
new_row2 = {'name':'Geo', 'physics':87, 'chemistry':None, 'algebra':None}
new_row2['algebra']=20
new_row2

{'name': 'Geo', 'physics': 87, 'chemistry': None, 'algebra': 20}

In [28]:
1 in [1, 2, 3]

True

In [36]:
for i in range(10):
    if i in [3,4,5]:
        continue
    print(i)

0
1
2
6
7
8
9

In [41]:
sample = [1,2,3,4,5]
print(*sample)

1 2 3 4 5

In [46]:
sample2 = [6,7,8]
[*sample, *sample2]

[1, 2, 3, 4, 5, 6, 7, 8]